body {
    text-align: center;
}
#sections {
    padding: 0px;
    margin-bottom: 40px;
}


#sections > li {
    list-style: none;
    padding: 0px;
    color: darkblue;
}
a {
    text-decoration: none; /* убираем у ссылок подчеркнутость, заданную по-умолчанию */
    color: red;
}

a:link {
    color: #497DDD;

}
a:visited {
    color: #497DDD;
}
a:hover {
    color: #154088;

}
a:active {
    color: #497DDD;
}
