<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title><%=event.name%></title>
    <link rel="stylesheet" href="/stylesheets/deskr.css">
</head>

<body>
<h1>The best event in your life!!!</h1>
<p><b>What?</b>: <%=event.name%></p>
<p><b>Where?</b>: <%=event.place%></p>
<p><b>Price?</b>: <%=event.price%></p>
<a href="/">Home</a>
<a href="/events">Events</a>

</body>

</html>