<html>
<head>
    <meta charset="utf-8">

    <title>PickMyRest events list</title>
    <link rel="stylesheet" href="/stylesheets/events.css">
</head>

<body>
<ul>
    <h1>Events list</h1>
    <%for( var i = 0; i < 5; i++){%>
    <li><a href="/event?id=<%=i %>"><%= events[i].name %></a></li>
    <%}%>
    <h1><a href="/">Home</a></h1>
</ul>

</body>
</html>