<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PickMyRest</title>
    <meta name="author" content="Stanislav Samokhvalenko">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <h1>This is the site about events</h1>
    <img id='logo' src="/images/events-banner.jpg" />
    <ul id="sections">
        <li>Creator: Stanislav Samokhvalenko</li>
        <li>e-mail: ctac180898@gmail.com</li>
        <li>About: In future you will be able to get an information about different events there</li>
    </ul>

    <a href="/">Home</a>
    <a href="/events">Events</a>

</body>

</html>