<!DOCTYPE html>
<html>
<head>
    <title>Event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div id="delete" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">DELETING</h4>
            </div>
            <div class="modal-body">
                    <div>
                        <div class="active"><a href=<%="/delete?id=" + event._id%>><span class="glyphicon glyphicon-remove"></span> Yes</a></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:20px;">
    <div class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></div>
    <div class="row">
        <div class="col-xs">
            <h3 class="text-center">Event</h3>
            <br>Name of event: <%=event.name%> </br>
            <br>Place: <%=event.place%> </br>
            <br>Price of event: <%=event.price%> </br>
            <form role="form" method="post" id="multipart" action="delete"  enctype="multipart/form-data">
                <div><a href="#delete" data-toggle="modal">Delete</a></div>

            </form>
        </div>
    </div>
</div>
</body>
</html>