<!DOCTYPE html>
<html>
<head>
    <title>You can moderate events here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>
</head>
<body>

<div id="AddEvent" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add event</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="multipart" action="addevent"  enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputName" class="control-label">Name of event</label>
                        <input type="text" class="form-control"  name="name" placeholder="Enter name of event" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPlace" class="control-label">Place</label>
                        <input type="text" class="form-control" name="place" placeholder="Enter where your event will be" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPrice" class="control-label">Price</label>
                        <input type="number" class="form-control" name="price" placeholder="Enter price" required>
                    </div>
                    <div class="form-group">
                        <label for="inputDate" class="control-label">Date of event</label>
                        <input type="date" class="form-control"  name="date" placeholder="Date" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div>
                        <label class="control-label">Select Image</label>
                        <input id="evImage" input type='file' name='evImage'>
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="SignUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Sign up</h4>
            </div>
            <div class="modal-body">
                <form data-toggle="validator" role="form" method="post" action="signup">
                    <div class="form-group">
                        <label for="inputName" class="control-label">Name</label>
                        <input type="text" class="form-control"  name="name" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="inputOrg" class="control-label">Organization name</label>
                        <input type="text" class="form-control" name="orgName" placeholder="Enter your organization`s name">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input type="email" class="form-control"  name="email" placeholder="Email" data-error="That email address is invalid" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">Password</label>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <input type="password" class="form-control" name="password" id="inputPassword"  placeholder="Password" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary">Sign up</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<div id="map_canvas2"></div>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="SignIn" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Sign in</h4>
            </div>
            <div class="modal-body">
                <form  role="form" method="post" action="signin">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input type="email" class="form-control"  name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" id="inputPassword"  placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="errModal" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <%=message%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:20px;">
    <%if(user){%>
        <div>USER NAME: <%=user.name%></div>
    <%}%>
    <div class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></div>
    <% if (user) { %>
    <a href="#AddEvent" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Add event</a>
    <div><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></div>
    <%if(user.role === 'admin') {%>
    <div><a href="/foradminonly"><span class="glyphicon glyphicon-wrench"></span> LETS BE ADMINS</a></div>
    <%}%>
    <% }else if(!user){ %>
    <div><a href="#SignUp" data-toggle="modal">Sign up</a></div>
    <div><a href="#SignIn" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></div>
    <%}%>
    <form role="form" name="sortedvents" method="post" id="sortf">
        <li class="form-group">
            <label for="inputName" class="control-label">Name</label>
            <input type="text" class="form-control"  name="fname" placeholder="name of event">
        </li>
        <li class="form-group">
            <div id="sortedeventsbutt" type="submit" class="btn btn-primary">Get events</div>
        </li>
    </form>
    <%if(message != 'no'){%>
    <script>
        $(window).load(function(){
            $('#errModal').modal('show');
        });
    </script>
    <%}%>
    <div class="row">
        <div class="col-xs">
            <h3 class="text-center">Events</h3>
            <ul>
                <%for(var i = 0; i < events.length; i++){%>
                <li class="list-group-item"><a href=<%="/event?id="+events[i]._id%>><%=events[i].name%></a></li>
                <%}%>
                <script id="my-list-template" type="x-tmpl-mustache">
                <div>
                    <ul class="list-group">
                    {{#events}}
                        <li class="list-group-item">
                            <a href="/event?id={{_id}}">{{name}}</a>
                        </li>
                    {{/events}}
                    </ul>
                </div>
            </script>
            </ul>
            <div id="target"></div>
        </div>
    </div>
    <ul class="nav nav-pills">
        <%for(var i = 0; i < pages; i++){%>
        <li class="active"><a href=<%="/?page="+(i+1)%>><%=i+1%></a></li>
        <%}%>
    </ul>

</div>
<script>

    function loadUser(events1) {
        var template = $('#my-list-template').html();
        Mustache.parse(template);   // optional, speeds up future uses
        var rendered = Mustache.render(template, {events: events1});
        $('#target').html(rendered);
    }

    $( "#sortedeventsbutt" ).click(function() {
        var params = $('#sortf').serialize();
        var xhr;
        console.log(params);
        if(params != 'fname='){
            xhr = new XMLHttpRequest();
            xhr.open("GET", '/sorted?' + params, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.status != 200) {
                    console.log("ERROR: " + xhr.status + ': ' + xhr.statusText);
                } else if(xhr.responseText.length > 0 && xhr.readyState === XMLHttpRequest.DONE) {
                    console.log("SUCCESS");
                    var data = xhr.responseText;
                    var events = JSON.parse(data);
                    console.log(events);
                    <%for(var i = 0; i < events.length; i++){%>
                        $('.list-group-item').remove();
                    <%}%>
                    loadUser(events);
                }
            }
        }
    });
</script>
</body>
</html>