<!DOCTYPE html>
<html>
<head>
    <title>You can moderate events here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin-top:20px;">
    <div>MODERATE PAGE, ADMIN: <%=user.name%></div>
    <div class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></div>
    <div><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></div>
    <div class="row">
        <div class="col-xs">
            <h3 class="text-center">Users</h3>
            <form  role="form" method="post" action="moderate">
                <div class="form-group">
                    <ul id="check-list-box" class="list-group checked-list-box">
                        <%for(var i = 0; i < users.length; i++){%>
                        <div><%="User name: " + users[i].name + " User role: " + users[i].role + " User email: " + users[i].email%></div>
                        <%}%>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>